# Exclude version control files and directories
.git
.gitignore

# Exclude virtual environments
venv/
env/
newvenv/
.venv/

# Exclude cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Exclude uploads or user-generated content
uploads/

# Exclude other unnecessary files
.DS_Store
*.log
*.pkg
AWSCLIV2.pkg
dependencies.txt
.env

# Exclude Elastic Beanstalk files (if not needed)
.elasticbeanstalk/
